<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="__ADMIN__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__ADMIN__/css/font.css">
    <link rel="stylesheet" href="__ADMIN__/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__ADMIN__/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <form class="layui-form" lay-filter="example">
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>文章分类
            </label>
            <div class="layui-input-inline">
                <select name="cate_id" id="cate_id">
                    {foreach $cateList as $key => $value}
                    <option value="{$value['id']}" >{$value['name']}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>标题
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>文章标题
            </div>
        </div>
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>简介
            </label>
            <textarea class="layui-textarea" id="description" name="description" style="width: 50%;height: 50px">{$article['description']}</textarea>
        </div>

        <div class="layui-upload">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>文章展示图
            </label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn" id="test1">上传图片</button>
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="image">
                    <input type="hidden" name="image" id="article_img">
                    <p id="demoText"></p>
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">是否置顶</label>
            <div class="layui-input-block">
                <input type="radio" name="is_top" value='1' id="is_top" title="是">
                <input type="radio" name="is_top" value='0' id="is_not_top" title="否">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>内容
            </label>
            <textarea id="content" name="content" style="display: none;">{$article['content']}</textarea>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                更新
            </button>
        </div>
        <input type="hidden" name="id" id="id"/>
    </form>
</div>

<script>

    var index;
    var layedit;
    layui.use(['layedit','form'], function(){
        layedit = layui.layedit;
        index = layedit.build('content'); //建立编辑器

    });

    function setSelectChecked(selectId, checkValue){
        var select = document.getElementById(selectId);
        for(var i=0; i<select.options.length; i++){
            if(select.options[i].innerHTML == checkValue){
                select.options[i].selected = true;
                break;
            }
        }
    };

    layui.use('form', function () {
        var form = layui.form;
        $("input[name='is_top'][value={$article['is_top']}]").prop('checked',true);
        if("{:isset($article)}" == true) {
            $("#name").val("{$article['name']}");
            $("#cate_id").val("{$article['cate_id']}");
            $("#image").attr('height' , 100).attr('src' , "{$article['image']}");
            $("#article_img").val("{$article['image']}");
            $("#id").val("{$article['id']}");
        }
        form.render();
    });

    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: "{:url('Upload/uploadImage')}"
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#image').attr('height' , 100).attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code !== 200){
                    return layer.msg('上传失败');
                }
                //上传成功
                $("#article_img").val(res.path);
                return layer.msg(res.msg, {icon: 1});
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });

    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer;

        //自定义验证规则
        form.verify({
            nikename: function(value){
                if(value.length < 5){
                    return '昵称至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
        });

        //监听提交
        form.on('submit(add)', function(data){
            data.field.content = layedit.getContent(index);
            // data.field.cate_id = parseInt(data.field.cate_id);
            // data.field.is_top = parseInt(data.field.is_top);
            delete data.field.file;
            console.log(data);
            $.post("{:url('Article/update')}",data.field,function(res){
                layer.alert(res.msg, {icon: 6},function () {

                    if(res.code === 200){
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        parent.location.reload();
                    }else{
                        var index = layer.alert();
                        layer.close(index);
                    }

                });
            },'json');
            return false;
        });


    });
</script>
<script>var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>

</html>